@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --text-color: 255,255,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 49, 45, 56;
    --text-color: 255,255,255;
  }
}

body {

}

@layer utilities {
  .select-none {
    user-select: none;
    -webkit-user-select: none;
  }

  .title {
    @apply text-2xl font-semibold text-text-color
  }
}
